# GRIST
GRIST_DOC_URL=xxx
GRIST_API_KEY=xxx

# MATOMO
NEXT_PUBLIC_MATOMO_URL="xxx"
NEXT_PUBLIC_MATOMO_SITE_ID="xxx"

# AUTH
NEXT_PUBLIC_JWT_COOKIE_NAME=payload-token
JWT_SECRET=mysecret
JWT_SIGNING_KEY=mykey
JWT_ENCRYPTION_KEY=myencryptionkey
JWT_ENCRYPTION_ALGORITHM=HS512
JWT_EXPIRATION_TIME=2592000 # 1 month in seconds

# S3
CELLAR_ADDON_HOST=host
CELLAR_ADDON_KEY_ID=key-id
CELLAR_ADDON_KEY_SECRET=key-secret
S3_BUCKET_NAME=bucket

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

MONGODB_ADDON_URI="mongodb://user:password@127.0.0.1:27018/observatoire?authSource=admin"

# Added by Payload# Added by Payload
DATABASE_URI=mongodb://user:password@127.0.0.1:27018/observatoire-payload?authSource=admin
PAYLOAD_SECRET=dev
