#AIRTABLE
AIRTABLE_API_KEY="xxx"
AIRTABLE_BASE_ID="xxx"
AIRTABLE_TABLE_NAME="xxx"
AIRTABLE_TABLE_EDITIONS_NAME="xxx"
AIRTABLE_TABLE_DEMANDE_NAME="xxx"

# MATOMO
NEXT_PUBLIC_MATOMO_URL="xxx"
NEXT_PUBLIC_MATOMO_SITE_ID="xxx"

# AUTH
NEXTAUTH_SECRET=secretauth
NEXTAUTH_URL=http://localhost:3000
JWT_SECRET=mysecret
JWT_SIGNING_KEY=mykey
JWT_ENCRYPTION_KEY=myencryptionkey
JWT_ENCRYPTION_ALGORITHM=HS512
JWT_EXPIRATION_TIME=2592000 # 1 month in seconds

# S3
S3_ENDPOINT=your-endpoint
S3_BUCKET_NAME=your-bucket-name
S3_REGION=your-region
S3_ACCESS_KEY_ID=your-access-key-id
S3_SECRET_ACCESS_KEY=your-secret-access-key

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

MONGODB_ADDON_URI="mongodb://user:password@127.0.0.1:27018/observatoire?authSource=admin"

# Added by Payload# Added by Payload
DATABASE_URI=mongodb://user:password@127.0.0.1:27018/observatoire-payload?authSource=admin
PAYLOAD_SECRET=dev
